{{#partial "content"}}
    <div class="para">
        <h3>List of heroes</h3>
        <P>Hero name:{{hero.name}}</P>
        <p>Hero strength:{{hero.strength}}</p>
        <p>Hero weakness:{{hero.weakness}}</p>
    </div>
{{/partial}}
{{> layout.hbs}}