{{#partial "stiles"}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{{/partial}}

{{#partial "content"}}
    <div class=" jambotron text-center" id="fofo">
        <form action="/heroes/new" method="post" class="well">
            <div class="form-group">
                <label for="formGroupExampleInput">Hero name</label><br>
                <input type="text"  placeholder="hero name" name="name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Hero strength</label><br>
                <input type="text"  placeholder="Hero strength"name="strength">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Hero weaknesses</label><br>
                <input type="text"  placeholder="Hero weaknesses"name="weakness">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}