{{#partial "content"}}
    <div class="jambotron text-center" id="fofo">

            <form action="/squads/new" method="post" class="well">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name of the squad</label><br>
                    <input type="text"  id="formGroupExampleInput" placeholder="Name of the squad" name="name">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Cause</label><br>
                    <input type="text"  id="formGroupExampleInput2" placeholder="cause" name="cause">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>
{{/partial}}
{{> layout.hbs}}