{{#partial "content"}}
    <div class="view">
        <div class="jumbotron text-center">
    <h1>Success!</h1>

    Your squad has been created!!!!!!!!

    <a href="/" id="go">Go Back</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}